@font-face {
    font-family: 'Microsoft YaHei';
    src: url('../font/微软雅黑.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ARIAL';
    src: url('../font/ARIAL.TTF');
    font-weight: normal;
    font-style: normal;
}